
/*ESTILOS GENERAL*/
body{
    background-color: #ced1d3b9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img.logo{
    width: 110px;
    height: 110px;
}

.inicial{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content: center;
    gap: 50px;

}

.textos{
   text-align: center;
 
}

.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 50px;
    background-color: #2E5767;
    align-content: center;
    border-radius: 3%;
    border: 2px solid rgba(158, 163, 166, 0.756);

}

.menu p{
    margin-left: 40px;
    font-weight: 500;
    color: white;
}

.menu a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 14px;
    margin: 5px;
}

.menu a:hover {
    background-color: #35677a;
}

/*ESTILOS PAG PRODUCTOS*/

.productos img{
    height: 200px;
    width: 200px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 30px 80px 30px;
    /*momentaneo para ver area delimitida*/
    border: 2px solid black;
}

.productos.columna{
   
    
}

