
/*ESTILOS GENERAL*/
body{
    background-color: #ced1d3b9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url("../Distribuidora-Materiales-Electricos/imagenes/textura\ fondo2.jpg");
}

img.logo{
    width: 110px;
    height: 110px;
}

.inicial{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content: center;
    gap: 50px;

}

.textos{
   text-align: center;
 
}

.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 50px;
    background-color: #2E5767;
    align-content: center;
    border-radius: 3%;
    border: 2px solid rgba(158, 163, 166, 0.756);
    
}

.menu p{
    margin-left: 40px;
    font-weight: 500;
    color: white;
}

.menu a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 14px;
    margin: 5px;
}

.menu a:hover {
    background-color: #35677a;
}

/*ESTILOS PAG PRODUCTOS*/

.productos img{
    height: 200px;
    width: 200px;
    border: 4px inset #2E5767;
    border-radius: 3px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 30px 80px 30px;
    gap: 8px;

}

.nombre{
    font-size: 18px;
    font-weight: 700;
    color: #2E5767;
}

.precio{
    font-weight: bold;
}
.precio::before{
    content: url(../Distribuidora-Materiales-Electricos/imagenes/etiqueta-del-precio.png);
}

.codigo::before{
    content: url(../Distribuidora-Materiales-Electricos/imagenes/codigo-de-barras.png)
}

.bulto::before{
    content: url(../Distribuidora-Materiales-Electricos/imagenes/caja-negra.png);
}

.cantidad{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.cantidad input{
    width: 40px;
    height: 20px;
    border: 2px ridge #2E5767;
    background-color: #f9f9f9b9;
}

.cantidad button{
    border: 1px ridge #2E5767;
    border-radius: 5px;
    background-color: #f9f9f9b9;
}

.cantidad button:hover{
    background-color: #747e82;
}



/*ESTILO PAG CONTACTO*/

.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    padding: 50px;
    margin: 20px auto;
    border: 3px groove #2E5767;
    border-radius: 5px;
    box-shadow: 8px 8px 0px #2E5767;
    background-color:#ced1d3b9;
   
}

.boton{
    width: 60px;
    height: 30px;
    font-weight: bold;
}

label, input{
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fondoFormulario{   
    background-image: url("../Distribuidora-Materiales-Electricos/imagenes/deposito-1.webp");
  
}


.cont{
    display: flex;
    justify-content: center;
}

legend{
    font-weight: bold;
   
}

.primerDiv{
    display: flex;
    background-color:#f1f3f5b9;
    justify-content: center;
    width: 500px;
    height: 120px;
    border: 3px inset rgb(213, 210, 210);
    border-radius: 6px;
    justify-self: center;
    margin: 10px;
}
/*---------------------ESTILOS AL ENVIAR DATOS FORMULARIO DEBAJO --------------*/
/*DIV DE ERRORES*/
.detalleError{
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    width: 100%; 
    height: 200px;
   
}

/*CLASE AGREGADA AL P DE MOSTRAR DATOS CORRECTOS*/
.datosCorrectos{
    background-color: rgb(12, 204, 12);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    padding: 10px;

}

/*CONTENEDOR DETALLE ERROR Y DATOS CORRECTOS*/
#divMensajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    height: 100px;
    margin: 20px auto;
    padding: 20px 0;
    

}

/*NO VA ESTE, ES LO PARA PRUEBAS*/
#divMensajes p{
   
    background-color: rgb(12, 204, 12);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    padding: 10px;
         
}

/*
.detalleError img{
    width: 100px; 
    height: 100px;
}*/
 
/*--------------------------------------------------------*/

 /*ESTILO CARRUSEL*/

.carruselImagenes img{ 
    width: 200px;
    height: 200px;  
}

.carruselImagenes{
    display: flex;
    justify-content: center;
    gap: 15px;
}


.botonAtras{
    width: 50px;
    height: 50px;
    float:left;
    align-items: center;
    margin-top: 90px;
    margin-left: 10px;
    border-radius: 18px;
    background-image: url(../Distribuidora-Materiales-Electricos/imagenes/flecha\ de\ circulo\ atras.png);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
}

.botones button{
    width: 30px;
   height: 30px;
   
}

.botonAvanzar{
    width: 50px;
    height: 50px; 
    float:right;
    align-items: center;
    margin-top: 90px;
    margin-right: 10px;
    border-radius: 18px;
    background-image: url(../Distribuidora-Materiales-Electricos/imagenes/flecha\ de\ circulo\ adelante.png);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;

    }

    .contenedorFondoCarrusel{
        display: flex;
        border: 2px solid;
        background-color:#f1f3f5b9;
        justify-content: space-between;
        border: 3px inset rgb(213, 210, 210);
        border-radius: 6px;
        justify-self: center;
        margin: 10px;
        gap: 30px;
    }

    #tituloInfo{
        text-align: center;
    }

    .contenedorInformacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
        text-align: center;
        width: 350px;
        height: auto;
        padding: 20px;
        background-color: rgba(46, 87, 103, 0.7); 
        gap: 40px;
     
    }

    .contenedorInformacion p{
        color: white;
      
    }

    .contenedorInformacion a{
        text-decoration: none; 
        display: inline-block;        
        color: black;
        border: 2px solid;
        margin-top: 40px;
        border-radius: 2px;
        width: 100px;
        height: 25px;
        border-style: inset;
        font-weight: 600;
        
    }

    .contenedorInformacion a:hover{
        background-color: #528396; 
    }




    


